node_modules
dist
.env

MONGODB_URI=mongodb+srv://francis:123@cluster0.roajbhm.mongodb.net/we_talk?appName=Cluster0

PORT=3000

JWT_SECRET=your_jwt_secret_key
CLOUDINARY_CLOUD_NAME=douoihhml
CLOUDINARY_API_KEY=111964969351513
CLOUDINARY_API_SECRET=NMPNxzH6RDTcYbQ7rKTV-EC--pw
NODE_ENV=development